@use '../base/colors' as c;
@use '../base/typography' as t;
@use '../base/buttons' as b;

.footer {
  background-color: c.$primary-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  padding: 1.5rem;
}

.footer-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
}

.footer-link {
  color: c.$primary-color-xlt;
  height: 3rem;
  width: 3rem;
  
  &:hover {
    color: c.$primary-color;
    height: 3.5rem;
    width: 3.5rem;
    transition: 0.3s;
  }

  &:active {
    height: 2.5rem;
    width: 2.5rem;
    transition: 0.3s;
  }
}

.footer-link-deno {
  height: 2.7rem;
  width: 2.7rem;

  &:hover {
    height: 3.2rem;
    width: 3.2rem;
  }

  &:active {
    height: 2.2rem;
    width: 2.2rem;
  }
}
