@use '../base/colors' as c;
@use '../base/typography' as t;

// Home page main content styling
.main-content {
  padding: 10%;
}

// Hero banner styling
.hero-container {
  text-align: center;
}

.home-hero-container {
  display: flex;
  padding: 5% 10%;

  .main-description {
    font-family: t.$font-questrial;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex: 1 0 50%;
    
    h1 {
      margin-top: 10px 0;
      font-size: 3.5rem;
      line-height: 1.5;
      font-weight: bold;
    }

    p {
      line-height: 1.5;
      font-size: 1.5rem;
    }

    a {
      color: c.$secondary-color;

      &:hover {
        color: c.$secondary-color-drk;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .home-hero-container {
    flex-direction: column;
  }
  }

  #dango-main-logo {
    padding-top: 1rem 0;
    flex: 1 0 50%;
}


@media screen and (max-width: 750px) {
  .home-hero-container {
    flex-direction: column;

    .main-description {
      text-align: center;
      
      .dango-text {
        display: inline;
        color: c.$primary-color-drk;
      }
    }
  }
}

// Main features styling
.main-features {
  background-color: c.$primary-color-xlt;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  gap: 2rem;

  .feature {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex: 1 0 33%;
    flex-wrap: wrap;
  }

  .feature-icon {
    color: c.$primary-grey;
    height: 3rem;
    width: 3rem;
  }

  .feature-title {
    font-family: t.$font-questrial;
    font-size: 2.75rem;
    color: c.$primary-grey;
  }
  
  .feature-description {
    font-size: 1.25rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 750px) {
  .main-features {
    flex-direction: column;
  }
}

// Get started banner styling housing schema and dangoDB
.main-get-started {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .get-started-title {
    font-family: t.$font-questrial;
    font-size: 2.75rem;
    color: c.$primary-black;
  }

  .get-started-content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    :hover {
      transform: scale(1.05);
    }
  }

  .get-started-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1 1 0px;
    background-color: c.$primary-color-xlt;
    border-radius: 8px;
    padding: 1.5rem;
    gap: .5rem;
    
    &:hover {
      transform: scale(1);
    }

    .get-started-content-title {
      font-family: t.$font-questrial;
      font-size: 2rem;
      color: c.$primary-grey;
    }
    
    .get-started-content-description {
      line-height: 1.2;
      font-size: 1.1rem;
      color: c.$primary-grey;
    }
  }
}

@media screen and (max-width: 750px){
  .get-started-content {
    flex-direction: column;
  }
}

// Home Footer contact component styling
.home-footer-container {
  background: c.$primary-color-xlt;
  text-align: center;
  padding: 4rem;

  h2 {
    font-family: t.$font-questrial;
    font-size: 2.75rem;
    color: c.$primary-grey;
  }

  .home-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
  }

  .contact-card {
    padding: 1.25rem 1.5rem 1rem 1.5rem;
    background: c.$bkrd-primary-color;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    &:hover, &:focus {
      animation: shake .8s cubic-bezier(.36,.07,.19,.97) both;
      backface-visibility: hidden;
      transform-origin: center;
    }
    div {
      display: flex;
      gap: 0.25rem;
      justify-content: center;
    }
  }
  
  @keyframes shake {
    0% { transform: rotate(0); }
    20% { transform: rotate(3deg); }
    40% { transform: rotate(-3deg); }
    60% { transform: rotate(2deg); }
    80% { transform: rotate(-2deg); }
    100% { transform: rotate(0); }
  }

  .headshot {
    height: 7rem;
    width: 7rem;
    border-radius: 8px;
  }

  .contact-name {
    font-size: 1.1rem;
    font-weight: 800;
    font-family: t.$font-questrial;
  }

  .contact-title {
    font-size: 0.95rem;
    font-family: t.$font-questrial;
    word-wrap: false;
  }

  .contact-link-container {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }

  .contact-link {
    color: c.$tertiary-color;
    height: 2rem;
    width: 2rem;
    
    &:hover {
      color: c.$tertiary-color-xdrk;
      height: 2.5rem;
      width: 2.5rem;
      transition: 0.3s;
    }

    &:active {
      height: 1.75rem;
      width: 1.75rem;
      transition: 0.3s;
    }
  }
}
