@use '../base/colors' as c;
@use '../base/typography' as t;
@use '../base/buttons' as b;



// .navbar {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

.navBarContainer {
  background: #ededed;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  // background-image: url(../../assets/navheader.png);
}

.navbar {
  background: #ededed; 

  margin-top: 30px;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
  justify-content: space-between;
  font-size: 2rem;
  font-family: 'Questrial', sans-serif;
}

.logo {
  // justify-content: flex-start;
  align-items: stretch;
  margin-left: 100px;
}

.nav-links {
  // justify-content: flex-end;
  color: rgb(63, 192, 186);
  align-items: center;
  gap: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 100px;
}

