@use '../base/colors' as c;
@use '../base/typography' as t;
@use '../base/buttons' as b;
// @use '../../components/PropForm.jsx';

.mainContainer {
  background-color: c.$bkrd-primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;


  .Form {
    display: flex;
    flex-direction: column;

    .form-row {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}


// @media (min-width: 1020px) {
//   .body {
//     margin: 40px;
//   }
//   .mainContainer {
//     display: grid;
//     // grid-template-columns: [col1-start] 70px [col2-start];
//     // grid-gap: 10px;
//     grid-column: 2 / span 3;
//     font-family: 'Questrial', sans-serif;
//     //   box-sizing: content-box;
//   }

//   .side_bar {
//     width: 600px;
//   }

//   .propForm {
//     width: 600px;
//     padding: 20px;
//     background-color: pink;
//   }

//   .schemaGenerator {
//     border-radius: 5px;
//   }

//   .genSchemaButton {
//     border-radius: 6px;
//     font-family: 'Questrial', sans-serif;
//     background-color: pink;
//     font-size: 0.9rem;
//     border: 6px solid pink;
//     cursor: pointer;
//     &:hover {
//       cursor: pointer;
//       background-color: #ededed;
//       border: 6px solid #ededed;
//       color: #fc2992;
//     }
//   }
// }

