@import '_variables.scss';

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom Styles
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color:red;
}
a:link {
  text-decoration: none;
}

a:visited {
  color: #81a18a;
  
  &:hover {
    color:#EDEDED;
  }
}


html {
  font-size: 0.625em;
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
}

.navBarContainer {
  background: #ededed;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-image: url(navheader.png);
}

.navbar {
  background: #ededed;

  margin-top: 30px;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
  justify-content: space-between;
  font-size: 2rem;
  font-family: 'Questrial', sans-serif;
}

.logo {
  // justify-content: flex-start;
  align-items: stretch;
  margin-left: 100px;
}

.nav-links {
  // justify-content: flex-end;
  color: rgb(63, 192, 186);
  align-items: center;
  gap: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 100px;

  .button {
    font-family: 'Questrial', sans-serif;
    background-color: #d5e4ed;
    border-radius: 6px;
    display: flex;
    font-size: 2rem;
    padding: 1px;
    border: 6px solid #d5e4ed;
    cursor: pointer;

    &:hover {
      cursor: pointer;
      background-color: #d6c2c1;
      border: 6px solid #d6c2c1;
      color: #fc2992;
    }
  }
}

// {
//   align-items: stretch;
//   display: flex;
//   flex-shrink: 0;
//   min-height: 3.25rem;
// }
body {
  background-color: rgb(255, 255, 255);
}
