@use './colors' as c;
@use './typography' as t;


.button {
  font-family: 'Questrial', sans-serif;
  background-color: #d5e4ed;
  border-radius: 6px;
  display: flex;
  font-size: 2rem;
  padding: 1px;
  border: 6px solid #d5e4ed;
  cursor: pointer;

  &:hover {
    cursor: pointer;
    background-color: #d6c2c1;
    border: 6px solid #d6c2c1;
    color: #fc2992;
  }
}