@use './colors' as c;
@use './typography' as t;


.button {
  font-family: t.$font-montserrat;
  background-color: c.$primary-color-lt;
  border-radius: 6px;
  // display: flex;
  font-size: 16px;
  padding: 3px 2px;
  border: 1px solid c.$primary-color-lt;
  cursor: pointer;

  &:hover {
    cursor: pointer;
    background-color: c.$secondary-color;
    border: 1px solid c.$secondary-color-lt;
    color: c.$secondary-color;
  }
}