
$background-color: #fff;
// $primary-color: #;
// $primary-color-lt: ;
// $primary-color-drk: ;

$primary-gray: #333;
$primary-gray-lt:#9D9D9D;
$primary-gray-drk: #181818;

// $secondary-color: ;
// $secondary-color-lt: ;
// $secondary-color-drk:;

// $tertiary-color: #81B29A;
// $tertiary-color-lt: #add5c2;

// $font-stack: 'Roboto', 'Roboto Condensed', sans-serif; 
// $font-RobotoC: 'Roboto Condensed', sans-serif;

// $btn-primary: #3D405B;
// $btn-secondary: #6E7296;



