
$bkrd-primary-color: #FDFDFA;

$primary-black: #181818;
$primary-grey: #645E59;


$primary-color-xdrk: #67BF9F;
$primary-color-drk: #82D3B4;
$primary-color: #adcec2;
$primary-color-lt: #c1d9ce;
$primary-color-xlt: #d8e6df;

$secondary-color-xdrk:#638FDC;
$secondary-color-drk: #79ACFF;
$secondary-color: #b0c5e7;
$secondary-color-lt: #b6cbe0;
$secondary-color-xlt: #cad7e4;

$tertiary-color-xdrk:#DE70A5;
$tertiary-color-drk: #FF99C9;
$tertiary-color: #ECC2D6;
$tertiary-color-lt: #F6E1EB;
$tertiary-color-xlt: #FAF0F5;

$linen-color-lt:#FDFDFA;
$linen-color: #fff7f1;
$linen-color-drk: #EEE3D9;


// $btn-primary: ;
// $btn-secondary: ;



