
$bkrd-primary-color: #f6f6f6;
$bkrd-secondary-color: darken($bkrd-primary-color, 5%);
$bkrd-tertiary-color: darken($bkrd-secondary-color, 10%);

$primary-black: #181818;
$secondary-black: lighten($primary-black, 20%);
$tertiary-black: lighten($secondary-black, 20%);

$primary-color: #73aec9;
$primary-color-lt: lighten($primary-color, 20%);
$primary-color-drk: darken($primary-color, 20%);

$secondary-color: #81a18a;
$secondary-color-lt: lighten($secondary-color, 20%);
$secondary-color-drk: darken($secondary-color, 20%);

$tertiary-color: #d6c2c1;
$tertiary-color-lt: lighten($tertiary-color, 20%);
$tertiary-color-drk: darken($tertiary-color, 20%);

$primary-accent-color: #fc2992;

$btn-primary: #3D405B;
$btn-secondary: #6E7296;



