@use './mixins';
@use './colors' as c;


/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');




body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  // color: ;
  margin-top: 0;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.4;
}

h2 {
  font-size: 2.75rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.65rem;
}

p {
  font-size: 1.20rem;
  margin-bottom: 1.25rem;
}

a, a:visited, a:active {
  text-decoration: none;
}

.small {
  font-size: .95rem;
}
